
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins',sans-serif;





}

*{background: url('background.jpg') no-repeat;
    height: 100px;


}

body{
	display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
height: auto;
width: 2000px;

}
img{height: auto;
width: 100px;
display:flex;



	}